<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/parkmoore">Parker</a>
  </p>

  <p>
    Just a guy making websites
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Iceland.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Parker Moore</h2>
    <br />
    <p>
      Parker Moore is web developer.
    </p>
  </div>
  <br clear="clear" />


</div>

<br clear="clear" />
<br />
<br />
<br />
<br />